<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.JhXbhMapper">
  <resultMap id="BaseResultMap" type="com.sc.entity.JhXbh">
    <constructor>
      <arg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="CP_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="JH_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="STATE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OPERATOR" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GS_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="LTIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CP_ID, JH_TIME, STATE, OPERATOR, REMARK, GS_ID, LTIME
  </sql>
  <select id="selectByExample" parameterType="com.sc.entity.JhXbhExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from JH_XBH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sc.entity.JhXbhExample">
    delete from JH_XBH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.JhXbh">
    insert into JH_XBH (ID, CP_ID, JH_TIME, 
      STATE, OPERATOR, REMARK, 
      GS_ID, LTIME)
    values (#{id,jdbcType=DECIMAL}, #{cpId,jdbcType=DECIMAL}, #{jhTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{gsId,jdbcType=DECIMAL}, #{ltime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.JhXbh">
    insert into JH_XBH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="cpId != null">
        CP_ID,
      </if>
      <if test="jhTime != null">
        JH_TIME,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="gsId != null">
        GS_ID,
      </if>
      <if test="ltime != null">
        LTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="cpId != null">
        #{cpId,jdbcType=DECIMAL},
      </if>
      <if test="jhTime != null">
        #{jhTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gsId != null">
        #{gsId,jdbcType=DECIMAL},
      </if>
      <if test="ltime != null">
        #{ltime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.JhXbhExample" resultType="java.lang.Integer">
    select count(*) from JH_XBH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update JH_XBH
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.cpId != null">
        CP_ID = #{record.cpId,jdbcType=DECIMAL},
      </if>
      <if test="record.jhTime != null">
        JH_TIME = #{record.jhTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null">
        OPERATOR = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.gsId != null">
        GS_ID = #{record.gsId,jdbcType=DECIMAL},
      </if>
      <if test="record.ltime != null">
        LTIME = #{record.ltime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update JH_XBH
    set ID = #{record.id,jdbcType=DECIMAL},
      CP_ID = #{record.cpId,jdbcType=DECIMAL},
      JH_TIME = #{record.jhTime,jdbcType=TIMESTAMP},
      STATE = #{record.state,jdbcType=VARCHAR},
      OPERATOR = #{record.operator,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      GS_ID = #{record.gsId,jdbcType=DECIMAL},
      LTIME = #{record.ltime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
</mapper>