<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.KcGoodsMapper">
  <resultMap id="BaseResultMap" type="com.sc.entity.KcGoods">
    <constructor>
      <idArg column="GOODS_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="GOODS_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GOODS_KINDS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GOODS__SPECS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UNIT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CANGKU_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="KC_NUM" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GOODS_COST" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GOODS_PRICE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GOODS_SELLING_PRICE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NOTE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="COMPANY_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="LAST_MODIFY_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GOODS_ID, GOODS_NAME, GOODS_KINDS, GOODS__SPECS, UNIT, CANGKU_ID, KC_NUM, GOODS_COST, 
    GOODS_PRICE, GOODS_SELLING_PRICE, NOTE, COMPANY_ID, LAST_MODIFY_TIME
  </sql>
  <select id="selectByExample" parameterType="com.sc.entity.KcGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from KC_GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from KC_GOODS
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from KC_GOODS
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.KcGoodsExample">
    delete from KC_GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.KcGoods">
    insert into KC_GOODS (GOODS_ID, GOODS_NAME, GOODS_KINDS, 
      GOODS__SPECS, UNIT, CANGKU_ID, 
      KC_NUM, GOODS_COST, GOODS_PRICE, 
      GOODS_SELLING_PRICE, NOTE, COMPANY_ID, 
      LAST_MODIFY_TIME)
    values (#{goodsId,jdbcType=DECIMAL}, #{goodsName,jdbcType=VARCHAR}, #{goodsKinds,jdbcType=VARCHAR}, 
      #{goodsSpecs,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{cangkuId,jdbcType=DECIMAL}, 
      #{kcNum,jdbcType=VARCHAR}, #{goodsCost,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=VARCHAR}, 
      #{goodsSellingPrice,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, 
      #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.KcGoods">
    insert into KC_GOODS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="goodsKinds != null">
        GOODS_KINDS,
      </if>
      <if test="goodsSpecs != null">
        GOODS__SPECS,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="cangkuId != null">
        CANGKU_ID,
      </if>
      <if test="kcNum != null">
        KC_NUM,
      </if>
      <if test="goodsCost != null">
        GOODS_COST,
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE,
      </if>
      <if test="goodsSellingPrice != null">
        GOODS_SELLING_PRICE,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=DECIMAL},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsKinds != null">
        #{goodsKinds,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecs != null">
        #{goodsSpecs,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="cangkuId != null">
        #{cangkuId,jdbcType=DECIMAL},
      </if>
      <if test="kcNum != null">
        #{kcNum,jdbcType=VARCHAR},
      </if>
      <if test="goodsCost != null">
        #{goodsCost,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellingPrice != null">
        #{goodsSellingPrice,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.KcGoodsExample" resultType="java.lang.Integer">
    select count(*) from KC_GOODS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update KC_GOODS
    <set>
      <if test="record.goodsId != null">
        GOODS_ID = #{record.goodsId,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsName != null">
        GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsKinds != null">
        GOODS_KINDS = #{record.goodsKinds,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSpecs != null">
        GOODS__SPECS = #{record.goodsSpecs,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.cangkuId != null">
        CANGKU_ID = #{record.cangkuId,jdbcType=DECIMAL},
      </if>
      <if test="record.kcNum != null">
        KC_NUM = #{record.kcNum,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCost != null">
        GOODS_COST = #{record.goodsCost,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null">
        GOODS_PRICE = #{record.goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSellingPrice != null">
        GOODS_SELLING_PRICE = #{record.goodsSellingPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null">
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyTime != null">
        LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update KC_GOODS
    set GOODS_ID = #{record.goodsId,jdbcType=DECIMAL},
      GOODS_NAME = #{record.goodsName,jdbcType=VARCHAR},
      GOODS_KINDS = #{record.goodsKinds,jdbcType=VARCHAR},
      GOODS__SPECS = #{record.goodsSpecs,jdbcType=VARCHAR},
      UNIT = #{record.unit,jdbcType=VARCHAR},
      CANGKU_ID = #{record.cangkuId,jdbcType=DECIMAL},
      KC_NUM = #{record.kcNum,jdbcType=VARCHAR},
      GOODS_COST = #{record.goodsCost,jdbcType=VARCHAR},
      GOODS_PRICE = #{record.goodsPrice,jdbcType=VARCHAR},
      GOODS_SELLING_PRICE = #{record.goodsSellingPrice,jdbcType=VARCHAR},
      NOTE = #{record.note,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFY_TIME = #{record.lastModifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.KcGoods">
    update KC_GOODS
    <set>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsKinds != null">
        GOODS_KINDS = #{goodsKinds,jdbcType=VARCHAR},
      </if>
      <if test="goodsSpecs != null">
        GOODS__SPECS = #{goodsSpecs,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="cangkuId != null">
        CANGKU_ID = #{cangkuId,jdbcType=DECIMAL},
      </if>
      <if test="kcNum != null">
        KC_NUM = #{kcNum,jdbcType=VARCHAR},
      </if>
      <if test="goodsCost != null">
        GOODS_COST = #{goodsCost,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE = #{goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellingPrice != null">
        GOODS_SELLING_PRICE = #{goodsSellingPrice,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyTime != null">
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.KcGoods">
    update KC_GOODS
    set GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_KINDS = #{goodsKinds,jdbcType=VARCHAR},
      GOODS__SPECS = #{goodsSpecs,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      CANGKU_ID = #{cangkuId,jdbcType=DECIMAL},
      KC_NUM = #{kcNum,jdbcType=VARCHAR},
      GOODS_COST = #{goodsCost,jdbcType=VARCHAR},
      GOODS_PRICE = #{goodsPrice,jdbcType=VARCHAR},
      GOODS_SELLING_PRICE = #{goodsSellingPrice,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=TIMESTAMP}
    where GOODS_ID = #{goodsId,jdbcType=DECIMAL}
  </update>
  
</mapper>