<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SaleKhlossMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.SaleKhloss" >
    <constructor >
      <idArg column="KH_LOSS_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="OPERATOR_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="PROCESSING_MODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TREATMENT_MEASURES" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IS_LOSS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFIED" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    KH_LOSS_ID, USER_ID, OPERATOR_ID, PROCESSING_MODE, TREATMENT_MEASURES, IS_LOSS, COMPANY_ID, 
    LAST_MODIFIED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.SaleKhlossExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SALE_KHLOSS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SALE_KHLOSS
    where KH_LOSS_ID = #{khLossId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SALE_KHLOSS
    where KH_LOSS_ID = #{khLossId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.SaleKhlossExample" >
    delete from SALE_KHLOSS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.SaleKhloss" >
    insert into SALE_KHLOSS (KH_LOSS_ID, USER_ID, OPERATOR_ID, 
      PROCESSING_MODE, TREATMENT_MEASURES, IS_LOSS, 
      COMPANY_ID, LAST_MODIFIED)
    values (#{khLossId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{operatorId,jdbcType=DECIMAL}, 
      #{processingMode,jdbcType=VARCHAR}, #{treatmentMeasures,jdbcType=VARCHAR}, #{isLoss,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=DECIMAL}, #{lastModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.SaleKhloss" >
    insert into SALE_KHLOSS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="khLossId != null" >
        KH_LOSS_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="processingMode != null" >
        PROCESSING_MODE,
      </if>
      <if test="treatmentMeasures != null" >
        TREATMENT_MEASURES,
      </if>
      <if test="isLoss != null" >
        IS_LOSS,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastModified != null" >
        LAST_MODIFIED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="khLossId != null" >
        #{khLossId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=DECIMAL},
      </if>
      <if test="processingMode != null" >
        #{processingMode,jdbcType=VARCHAR},
      </if>
      <if test="treatmentMeasures != null" >
        #{treatmentMeasures,jdbcType=VARCHAR},
      </if>
      <if test="isLoss != null" >
        #{isLoss,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModified != null" >
        #{lastModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.SaleKhlossExample" resultType="java.lang.Integer" >
    select count(*) from SALE_KHLOSS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SALE_KHLOSS
    <set >
      <if test="record.khLossId != null" >
        KH_LOSS_ID = #{record.khLossId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.operatorId != null" >
        OPERATOR_ID = #{record.operatorId,jdbcType=DECIMAL},
      </if>
      <if test="record.processingMode != null" >
        PROCESSING_MODE = #{record.processingMode,jdbcType=VARCHAR},
      </if>
      <if test="record.treatmentMeasures != null" >
        TREATMENT_MEASURES = #{record.treatmentMeasures,jdbcType=VARCHAR},
      </if>
      <if test="record.isLoss != null" >
        IS_LOSS = #{record.isLoss,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModified != null" >
        LAST_MODIFIED = #{record.lastModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SALE_KHLOSS
    set KH_LOSS_ID = #{record.khLossId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      OPERATOR_ID = #{record.operatorId,jdbcType=DECIMAL},
      PROCESSING_MODE = #{record.processingMode,jdbcType=VARCHAR},
      TREATMENT_MEASURES = #{record.treatmentMeasures,jdbcType=VARCHAR},
      IS_LOSS = #{record.isLoss,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFIED = #{record.lastModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.SaleKhloss" >
    update SALE_KHLOSS
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=DECIMAL},
      </if>
      <if test="processingMode != null" >
        PROCESSING_MODE = #{processingMode,jdbcType=VARCHAR},
      </if>
      <if test="treatmentMeasures != null" >
        TREATMENT_MEASURES = #{treatmentMeasures,jdbcType=VARCHAR},
      </if>
      <if test="isLoss != null" >
        IS_LOSS = #{isLoss,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModified != null" >
        LAST_MODIFIED = #{lastModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where KH_LOSS_ID = #{khLossId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.SaleKhloss" >
    update SALE_KHLOSS
    set USER_ID = #{userId,jdbcType=DECIMAL},
      OPERATOR_ID = #{operatorId,jdbcType=DECIMAL},
      PROCESSING_MODE = #{processingMode,jdbcType=VARCHAR},
      TREATMENT_MEASURES = #{treatmentMeasures,jdbcType=VARCHAR},
      IS_LOSS = #{isLoss,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFIED = #{lastModified,jdbcType=TIMESTAMP}
    where KH_LOSS_ID = #{khLossId,jdbcType=DECIMAL}
  </update>
</mapper>