<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysPowerColumnsMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.SysPowerColumns" >
    <constructor >
      <idArg column="COLUMNS_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="COLUMNS_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARKS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHANGE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COLUMNS_ID, COLUMNS_NAME, REMARKS, CHANGE_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.SysPowerColumnsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_POWERCOLUMNS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_POWERCOLUMNS
    where COLUMNS_ID = #{columnsId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_POWERCOLUMNS
    where COLUMNS_ID = #{columnsId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.SysPowerColumnsExample" >
    delete from SYS_POWERCOLUMNS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.SysPowerColumns" >
    insert into SYS_POWERCOLUMNS (COLUMNS_ID, COLUMNS_NAME, REMARKS, 
      CHANGE_DATE)
    values (#{columnsId,jdbcType=DECIMAL}, #{columnsName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{changeDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.SysPowerColumns" >
    insert into SYS_POWERCOLUMNS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnsId != null" >
        COLUMNS_ID,
      </if>
      <if test="columnsName != null" >
        COLUMNS_NAME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnsId != null" >
        #{columnsId,jdbcType=DECIMAL},
      </if>
      <if test="columnsName != null" >
        #{columnsName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.SysPowerColumnsExample" resultType="java.lang.Integer" >
    select count(*) from SYS_POWERCOLUMNS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_POWERCOLUMNS
    <set >
      <if test="record.columnsId != null" >
        COLUMNS_ID = #{record.columnsId,jdbcType=DECIMAL},
      </if>
      <if test="record.columnsName != null" >
        COLUMNS_NAME = #{record.columnsName,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.changeDate != null" >
        CHANGE_DATE = #{record.changeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_POWERCOLUMNS
    set COLUMNS_ID = #{record.columnsId,jdbcType=DECIMAL},
      COLUMNS_NAME = #{record.columnsName,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      CHANGE_DATE = #{record.changeDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.SysPowerColumns" >
    update SYS_POWERCOLUMNS
    <set >
      <if test="columnsName != null" >
        COLUMNS_NAME = #{columnsName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where COLUMNS_ID = #{columnsId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.SysPowerColumns" >
    update SYS_POWERCOLUMNS
    set COLUMNS_NAME = #{columnsName,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP}
    where COLUMNS_ID = #{columnsId,jdbcType=DECIMAL}
  </update>
  
  <resultMap type="com.sc.entity.SysPowerColumns" id="SysPowerColumnsMap" autoMapping="true">
  	<id column="COLUMNS_ID" property="columnsId"/>
  	
  	<collection property="sysPowerinfoes" ofType="com.sc.entity.SysPowerinfo" autoMapping="true">
  		<id column="POWER_ID" property="powerId"/>
  	</collection>
  </resultMap>
  
  <select id="selectPowerinfo" resultMap="SysPowerColumnsMap">
  	select * from SYS_POWERCOLUMNS spc 
  	LEFT JOIN SYS_POWERINFO spi on SPC.COLUMNS_ID=SPI.POWER_COLUMNS_ID
  </select>
  
</mapper>