<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.SysUsersMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.SysUsers" >
    <constructor >
      <idArg column="USERS_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USERS_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="USERS_PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMP_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USERS_STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CHANGE_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERS_ID, USERS_NAME, USERS_PASSWORD, EMP_ID, COMPANY_ID, USERS_STATE, CHANGE_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.SysUsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SYS_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USERS
    where USERS_ID = #{usersId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_USERS
    where USERS_ID = #{usersId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.SysUsersExample" >
    delete from SYS_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.SysUsers" >
    insert into SYS_USERS (USERS_ID, USERS_NAME, USERS_PASSWORD, 
      EMP_ID, COMPANY_ID, USERS_STATE, 
      CHANGE_DATE)
    values (#{usersId,jdbcType=DECIMAL}, #{usersName,jdbcType=VARCHAR}, #{usersPassword,jdbcType=VARCHAR}, 
      #{empId,jdbcType=DECIMAL}, #{companyId,jdbcType=DECIMAL}, #{usersState,jdbcType=VARCHAR}, 
      #{changeDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.SysUsers" >
    insert into SYS_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usersId != null" >
        USERS_ID,
      </if>
      <if test="usersName != null" >
        USERS_NAME,
      </if>
      <if test="usersPassword != null" >
        USERS_PASSWORD,
      </if>
      <if test="empId != null" >
        EMP_ID,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="usersState != null" >
        USERS_STATE,
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usersId != null" >
        #{usersId,jdbcType=DECIMAL},
      </if>
      <if test="usersName != null" >
        #{usersName,jdbcType=VARCHAR},
      </if>
      <if test="usersPassword != null" >
        #{usersPassword,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=DECIMAL},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="usersState != null" >
        #{usersState,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null" >
        #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.SysUsersExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USERS
    <set >
      <if test="record.usersId != null" >
        USERS_ID = #{record.usersId,jdbcType=DECIMAL},
      </if>
      <if test="record.usersName != null" >
        USERS_NAME = #{record.usersName,jdbcType=VARCHAR},
      </if>
      <if test="record.usersPassword != null" >
        USERS_PASSWORD = #{record.usersPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.empId != null" >
        EMP_ID = #{record.empId,jdbcType=DECIMAL},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.usersState != null" >
        USERS_STATE = #{record.usersState,jdbcType=VARCHAR},
      </if>
      <if test="record.changeDate != null" >
        CHANGE_DATE = #{record.changeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USERS
    set USERS_ID = #{record.usersId,jdbcType=DECIMAL},
      USERS_NAME = #{record.usersName,jdbcType=VARCHAR},
      USERS_PASSWORD = #{record.usersPassword,jdbcType=VARCHAR},
      EMP_ID = #{record.empId,jdbcType=DECIMAL},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      USERS_STATE = #{record.usersState,jdbcType=VARCHAR},
      CHANGE_DATE = #{record.changeDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.SysUsers" >
    update SYS_USERS
    <set >
      <if test="usersName != null" >
        USERS_NAME = #{usersName,jdbcType=VARCHAR},
      </if>
      <if test="usersPassword != null" >
        USERS_PASSWORD = #{usersPassword,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        EMP_ID = #{empId,jdbcType=DECIMAL},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="usersState != null" >
        USERS_STATE = #{usersState,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null" >
        CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USERS_ID = #{usersId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.SysUsers" >
    update SYS_USERS
    set USERS_NAME = #{usersName,jdbcType=VARCHAR},
      USERS_PASSWORD = #{usersPassword,jdbcType=VARCHAR},
      EMP_ID = #{empId,jdbcType=DECIMAL},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      USERS_STATE = #{usersState,jdbcType=VARCHAR},
      CHANGE_DATE = #{changeDate,jdbcType=TIMESTAMP}
    where USERS_ID = #{usersId,jdbcType=DECIMAL}
  </update>
  <resultMap type="com.sc.entity.SysUsers" id="selectPowerMap" autoMapping="true">
  	<id column="USERS_ID" property="usersId"/>
  	
  	<collection property="SysPowerinfoes" ofType="com.sc.entity.SysPowerinfo" autoMapping="true">
  		<id column="POWER_ID" property="powerId"/>
  	</collection>
  </resultMap>
  <select id="selectPower" parameterType="com.sc.entity.SysUsers" resultMap="selectPowerMap">
  	SELECT * FROM SYS_USERS su LEFT JOIN 
	SYS_USERS_ROLE sur on SU.USERS_ID=SUR.USERS_ID LEFT JOIN 
	SYS_POWER_ROLE spr on sur.ROLE_ID=SPR.ROLE_ID LEFT JOIN 
	SYS_POWERINFO spi on  spr.POWER_ID=spi.POWER_ID
	WHERE SU.USERS_ID=#{usersId}
  </select>
  
  <resultMap type="com.sc.entity.SysUsers" id="selectRoleMap" autoMapping="true">
  	<id column="USERS_ID" property="usersId"/>
  	<association property="sysRole" javaType="com.sc.entity.SysRole" autoMapping="true">
  		<id column="ROLE_ID" property="roleId"/>
  	</association>
  </resultMap>
  <select id="selectRole" resultMap="selectRoleMap" parameterType="java.lang.Long">
  	select * from SYS_USERS SU 
	LEFT JOIN SYS_USERS_ROLE SUR ON SU.USERS_ID= SUR.USERS_ID 
	LEFT JOIN SYS_ROLE SR ON SUR.ROLE_ID=SR.ROLE_ID 
	WHERE SU.USERS_ID=#{uId}
  </select>
  
  <resultMap type="com.sc.entity.SysUsers" id="selectUserinfoMap" autoMapping="true">
  	<id column="USERS_ID" property="usersId"/>
  	<association property="sysUserinfo" javaType="com.sc.entity.SysUserinfo" autoMapping="true">
  		<id column="EMP_ID" property="empId"/>
  	</association>
  </resultMap>
  <select id="selectUserinfo" resultMap="selectUserinfoMap" parameterType="java.lang.Long">
  	SELECT * from SYS_USERS su LEFT JOIN SYS_USERINFO sui on SU.EMP_ID=sui.EMP_ID where SU.USERS_ID=#{uId}
  </select>
  
  <resultMap type="com.sc.entity.SysUsers" id="selectNoRoleUserMap" autoMapping="true">
  	<id column="USERS_ID" property="usersId"/>
  	<association property="sysUserinfo" javaType="com.sc.entity.SysUserinfo" autoMapping="true">
  		<id column="EMP_ID" property="empId"/>
  	</association>
  </resultMap>
  <select id="selectNoRoleUser" resultMap="selectNoRoleUserMap">
  	SELECT su.*,suri.* from SYS_USERS su
	LEFT JOIN SYS_USERS_ROLE sur 
	on su.USERS_ID=sur.USERS_ID 
	LEFT JOIN SYS_USERINFO suri ON su.EMP_ID=suri.EMP_ID
	where sur.ROLE_ID is null
  </select>
  
  <select id="selectUserinfo2" resultMap="selectUserinfoMap" parameterType="com.sc.entity.SysUsers">
  	SELECT * FROM SYS_USERS SU 
  	LEFT JOIN SYS_USERINFO SUI ON SU.EMP_ID=SUI.EMP_ID
  	<where>
  		<if test="usersId==0">
	  		<if test="usersName!=null">
	  			AND SU.USERS_NAME LIKE concat(concat('%',#{usersName}),'%')
	  		</if>
	  	</if>
	  	<if test="usersId==1">
	  		<if test="usersName!=null">
	  			AND SUI.EMP_NAME LIKE concat(concat('%',#{usersName}),'%')
	  		</if>
	  	</if>
  	</where>
  </select>
  
  <select id="login" parameterType="com.sc.entity.SysUsers" resultMap="selectNoRoleUserMap">
  	SELECT * FROM SYS_USERS SU LEFT JOIN SYS_USERINFO SUI 
	ON SU.EMP_ID=SUI.EMP_ID WHERE SU.USERS_NAME=#{usersName}
  </select>
</mapper>